/* This is so that it works on Safari and iOS */

body {
    backface-visibility: visible;
    -webkit-backface-visibility: visible;
    -moz-backface-visibility: visible;
    -o-backface-visibility: visible;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin: 0;
}

section {
    font-size: 1em;
    padding: 2em;
    color: dimgray;
}

.caption {
    text-align: center;
    color: silver;
    font-size: 0.8em;
}

#title {
    font-family: 'Montserrat', sans-serif;
    background-color: #607D8B;
    padding: 3em 0em;
    text-align: center;
    color: #FAFAFA;
}

#title img {
    padding: 2em 0em;
    width: 23%;
    height: auto;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
}

#title img:hover {
    transform: scale(0.8);
}

.cube {
    width: 150px;
    height: 150px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
}

.flipAnim {
    animation: flip 2.5s infinite ease-in-out;
    animation-direction: alternate;
    -webkit-animation: flip 2.5s infinite ease-in-out;
    -webkit-animation-direction: alternate;
    -moz-animation: flip 2.5s infinite ease-in-out;
    -moz-animation-direction: alternate;
    -o-animation: flip 2.5s infinite ease-in-out;
    -o-animation-direction: alternate;
}

.container {
    perspective: 500px;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -o-perspective: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    padding: 1em 1em;
    height: auto;
    transition: transform 1s ease-out;
    -webkit-transition: transform 1s ease-out;
    -moz-transition: transform 1s ease-out;
    -o-transition: transform 1s ease-out;
    width: 50px;
    height: 50px;
}

.container img:hover {
    transform: none !important;
}

.action-button {
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    float: left;
    padding: 1em 1.8em;
    background-color: #f38181;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    margin: 0em 0.5em;
}

.action-button:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
}

@keyframes flip {
    0% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

@-webkit-keyframes flip {
    0% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

@-moz-keyframes flip {
    0% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

@-o-keyframes flip {
    0% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateX(180deg);
    }
}

@media (min-width: 48em) {
    .text {
        font-size: 1.125em;
        padding: 2em 25%;
    }
    .container img {
        width: 100px;
        height: 100px;
    }
}
